/*FOR ALL PAGES*/
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  text-decoration: none;
  color: dimgray;
  padding-left: 100px;
  padding-right: 100px;
}

#line {
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-container {
  width: 100%;
  float: left;
  font-size: 80%; 
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  height: 70px;
}

.footer-container img {
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

#navBar {
  text-align: center;
  height: 200px;
}
.myName {
  font-size: 40px;
  margin: 50px;
}

.navBarContent {
  display: table;
  margin: 0 auto;
  margin-bottom: 65px;
  overflow: hidden;
}

.navBarContent a {
  float: left;
  padding: 0;
  margin: 0px 25px;
  color: dimgray;
  text-align: center;
  font-size: 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  margin: 0px 25px;
  font-family: inherit;
  color: dimgray;
  font-size: 16px;
  padding: 0;
}

.navBarContent a:hover, .dropdown:hover .dropbtn{
  font-weight: bold;
  border-bottom: 2px solid #E5CBCB;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: dimgray;
  padding: 6px 0px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  font-weight: bold;
  color: #ddaaaa;
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*MY PERSONAL WEBSITE MAIN PAGE*/

#indexContainer {
  margin: 20px 80px 0px 80px;
  align-self: center; 
}

#selfie {
  float: left;
  width: 30%;
  text-align: center;

}
#selfie img {
  border-radius: 20px;
}

.propg {
  height: 300px;
  font-size: 16px;
  font-weight: lighter;
  float: left;
  width: 70%;  
  padding-left: 20px;
}

.propg a {
  color: #DEA9A9;
}

/*ABOUT ME*/

/*
#AMheader{
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
*/

.AMflex-container {
  text-align: center;
  line-height: 22px;
}

.AMflex-container a:hover {
  color: #DEA9A9;
}

.AMflex-container #AMpoint {
  padding-top: 40px;
}

.AMflex-container #AMpoint:nth-child(1) {
  padding-top: 0;
}

.AMflex-container dt {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.AMflex-container dt:hover {
  text-decoration: underline;
  color: #DEA9A9;
}

/*JOURNALS*/

#JournalNavBar {
  text-align: center;
}

#JournalNavBar #NavBarTitle {
  font-size: 22px;
  padding-left: 10px;
  padding-top: 12px;
  margin: 0;
}
#JournalNavBar ul {
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
}

#JournalNavBar ul li {
  margin: 3px;
  font-size: 18px;
}

#JournalNavBar ul a {
  color: dimgray;
}

#JournalNavBar a:hover {
  font-weight: bold;
  color: darkolivegreen;
}

#JournalNavBar {
  width: 20%;
  float: left;
  font-size: 16px;
}

#JournalContent {
  width: 80%;
  float: left;
  font-size: 14px;
}

/*PHOTOGRAPHY*/

div.gallery {
  padding: 5px 15px 5px 15px;
  float: left;
  width: 33.3333333%;
  overflow: hidden;
  text-align: center;
}

div.gallery img {
  border: 1px solid #ccc;
  width: 400px;
  height: 225px;
  object-fit: cover;
}

div.gallery img:hover {
  border: 1px solid #777;
}

/*TRAVEL LOG*/
iframe {
  width: 740px; 
  height: 440px;
  display: block;
  margin: auto;
  margin-top: 10px; 
}

#map {
  overflow:auto;
}


/*RESPONSIVE DESIGN*/
@media (min-width: 1200px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  div.gallery {
    width: 49.9999999%;
  }   
  div.gallery img {
    width: 500px;
    height: 280px;
  }
  body {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  div.gallery {
      width: 49.99999%;
  }     
  div.gallery img {
    width: 400px;
    height: 224px;
  }
  body {
    padding-left: 25px;
    padding-right: 25px;
  }
  #indexContainer {
    margin: 20px 30px 0px 30px;
  }   
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  div.gallery {
    width: 100%;
  }
  div.gallery img {
    width: 500px;
    height: 280px;
  }
  body {
    padding-left: 25px;
    padding-right: 25px;
  }
   #selfie {
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  #selfie img {
    border-radius: 50%;
  }
  .propg {
    font-size: 16px;
    font-weight: lighter;
    float: left;
    width: 100%;   
  }
  #indexContainer {
    margin: 10px 40px 0px 40px;
  }   
  #JournalNavBar {
    width: 100%;
  }
  #JournalContent {
    width: 100%;
  }
  iframe {
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  div.gallery {
    width: 100%;
  }
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  #selfie {
    float: left;
    width: 100%;
    overflow: hidden;
  }
  #selfie img {
    border-radius: 50%;
  }
  .propg {
    font-size: 16px;
    font-weight: lighter;
    float: left;
    width: 100%;   
  }
  #indexContainer {
    margin: 10px 20px 0px 20px;
  }
  #JournalNavBar {
    width: 100%;
  }
  #JournalContent {
    width: 100%;
  }
  iframe {
    width: 600px;
    height: 400px;
  }
}

#b49797
ddaaaa